{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta eum a, harum ipsa rem corporis eligendi quidem fuga, nam ea aliquid porro labore accusamus, tempore fugiat laudantium natus? Ab facilis repellat architecto repudiandae repellendus nulla veniam exercitationem, quam minus officiis quo excepturi blanditiis amet officia reprehenderit corrupti maiores esse iure obcaecati quod sit eius? Modi quos harum aliquam exercitationem commodi delectus, voluptas quisquam ab. Atque doloribus quis omnis architecto at, enim ut dolores accusamus eius vitae consequuntur beatae, tempore nesciunt eligendi dolor pariatur ipsam aliquam autem porro. Dolores voluptatibus voluptas, expedita facilis ab deserunt sint sapiente nobis reprehenderit excepturi nemo.</p>
        
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                SignIn
            </a>
            <a class="btn btn-dark" href="/signup/">
                SignUp
            </a>
        </div>
    </section>
</main>
{% endblock%}